@import '../../styles/settings.scss';

.favourite {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(33% - 12px);
    gap: 10px;
    padding: $base-size;
    margin: 0 auto;
    border-radius: $radius;
}

.favourite li {
    width:100%;
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-items: center;
}
